:root {
  --basic-background-1: #849D8F;
  --basic-light-background-1: rgba(215, 242, 227, 0.75);
  --basic-background-2: #8996A6;
  --basic-light-background-2: rgba(218, 228, 239, 0.75);
  --basic-background-3: #9D8B84;
  --basic-light-background-3: rgba(239, 224, 218, 0.75);
  --basic-form-background: #F8F7F4;
  --basic-text: #FFFFFF;
  --basic-text-2: #323232;
  --basic-text-3: #5A5A5A;
  --basic-active-page: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --basic-catalog-menu: rgba(255, 255, 255, 0.2);

  --special-button: #D07058;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  background-color: var(--basic-background-1, #849D8F);
  color: var(--basic-text, #FFFFFF);
  width: 1146px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 27px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.main-header {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 24px;
  display: flex;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

a {
  color: var(--basic-text);
  text-decoration: none;
}

.popup {
  display: none;
}

.visually-hidden {
    display: none;
}

.side-menu {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.side-menu li:not(:last-of-type) {
  margin-right: 20px;
}

.user-menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin-left: auto;
}

.user-menu li:not(:last-of-type) {
  margin-right: 20px;
}

.side-menu a {
  background-color: var(--basic-catalog-menu, rgba(255, 255, 255, 0.2));
}

.advantages {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-text-2, #323232);
  background-image: url(../img/index1/wafer.jpg);
  background-repeat: no-repeat;
}

.advantages h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages-list {
  width: 1146px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.advantages-item {
  width: 500px;
}

.advantages-item:nth-of-type(2n) {
  margin-left: 40px;
}

.advantages-item:nth-of-type(n+3) {
  margin-top: 20px;
}

.action {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.action .raspberry {
    width: 560px;
    background-image: url(../img/index1/raspberry.jpg);
    background-repeat: no-repeat;
}

.raspberry:not(:nth-of-type(2n)) {
  margin-right: 26px;
}

.action h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.action .chocolate {
    width: 560px;
    background-image: url(../img/index1/chocolate.jpg);
    background-repeat: no-repeat;
}

.action a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.about-us {
  width: 1146px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 220px;
}

.blog {
  width: 560px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text-2, #323232);
  background-image: url(../img/index1/strawberry.jpg);
  background-repeat: no-repeat;
  margin-right: 26px;
}

.blog h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog ul {
  list-style: none;
}

.blog a {
  color: var(--basic-text-2, #323232);
}

.subscription {
  width: 560px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-form-background, #F8F7F4);
  background-image: url(../img/index1/letter_border.png),
    url(../img/index1/letter_background.png);
  background-repeat: no-repeat;
}

.subscription button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.map {
  width: 1200px;
  min-height: 430px;
  background-image: url(../img/index1/map.png),
    url(../img/index1/pin.png);
  background-repeat: no-repeat;
  color: var(--basic-text-2, #323232);
  margin-bottom: 18px;
}

.map .address {
  width: 303px;
  min-height: 306px;
  background-color: var(--basic-text, #FFFFFF);
}

.map p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.map span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text-2, #323232);
} 

.map a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text-2, #323232);
}

.map button {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.side-footer {

  width: 756px;
  display: flex;

}

.extra-info {
  margin-left: 234px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.extra-info li:not(:last-of-type) {
  margin-right: 20px;
}

.extra-info span {
  font-weight: bold;
}

.page-name {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.path {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.price span {
  font-size: 30px;
  line-height: 35px;
}

.icecream-list {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.icecream-list-item {
  width: 267px;
  display: block;
}

.icecream-list-item:not(:nth-of-type(4n)) {
  margin-right: 26px;   
}


.icecream-list-item:nth-of-type(n+5) {
  margin-top: 40px;
}

.icecream-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
}

.social-media {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-media-item:not(:last-of-type) {
  margin-right: 12px;
}


.logo {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-left: auto;
}

.promo {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo-button {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.filter {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text);
}

.page-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.main-footer {
  padding: 20px;
  display: flex;
  align-items: center;
}
