:root {
  --basic-background-1: #849D8F;
  --basic-light-background-1: rgba(215, 242, 227, 0.75);
  --basic-background-2: #8996A6;
  --basic-light-background-2: rgba(218, 228, 239, 0.75);
  --basic-background-3: #9D8B84;
  --basic-light-background-3: rgba(239, 224, 218, 0.75);
  --basic-form-background: #F8F7F4;
  --basic-text: #FFFFFF;
  --basic-text-2: #323232;
  --basic-text-3: #5A5A5A;
  --basic-active-page: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --basic-catalog-menu: rgba(255, 255, 255, 0.2);
  --basic-button-background: rgba(255, 255, 255, 0.2);

  --special-button: #D07058;
  --special-text: #ABABAB;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  background-color: var(--basic-background-1);
  color: var(--basic-text, #FFFFFF);
  width: 1146px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 27px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  width: 1146px;
}

.navigation {
  margin-left: 24px;
  display: flex;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

a {
  color: var(--basic-text);
  text-decoration: none;
}

.container-main {
  width: 1146px;
}

/*.popup {
  display: none;
}*/

.visually-hidden {
    display: none;
}

.side-menu {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.side-menu a {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-bottom: 8px;
  padding-top: 5px;
}

.side-menu li:not(:last-of-type) {
  margin-right: 20px;
}

.user-menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin-left: auto;

}

.user-menu a:not(:last-of-type) {
  margin-right: 10px;
}

.user-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  padding-left: 5px;
}

.user-menu span {
  margin-left: 8px;
}

.search {
  width: 32px;
  height: 32px;
  background-color: var(--basic-button-background, rgba(255, 255, 255, 0.2));
  border-radius: 20px;
}


.search:hover path,
.search:focus path {
  fill: var(--basic-text-2, #323232);
}

.search:hover,
.search:focus {
  background-color: var(--basic-text, #FFFFFF);
}

.advantages {
  width: 1146px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-text-2, #323232);
  background-image: url(../img/index1/wafer.jpg);
  background-repeat: repeat;
  margin-top: 40px;
}


.advantages-item-1::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  background-image: url(../img/icon_icecream.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 490px;
}


.advantages-item-2::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  background-image: url(../img/icon_cow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 490px;
}

.advantages-item-3::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  background-image: url(../img/icon_tree.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 490px;
}

.advantages-item-4::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  background-image: url(../img/icon_temprature.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 490px;
}


.advantages-item-1 {
  position: relative;
  width: 484px;
}

.advantages-item-2 {
  position: relative;
  width: 484px;
}

.advantages-item-3 {
  position: relative;
  width: 484px;
}

.advantages-item-4 {
  position: relative;
  width: 484px;
}

.advantages h2 {
  padding-top: 24px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
}

.advantages-list {
  width: 1146px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-left: 75px;
  margin-right: 23px;
}

.advantages-item-1 p,
.advantages-item-2 p,
.advantages-item-3 p,
.advantages-item-4 p {
  width: 485px;
}


.advantages-item:nth-of-type(2n) {
  margin-left: 81px;
}

.advantages-item:nth-of-type(n+3) {
  margin-top: 20px;
}

.action {
  width: 1146px;
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.action .raspberry {
    width: 560px;
    background-image: url(../img/index1/raspberry.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 22px;
    padding-top: 0;
    padding-left: 0;
}

.raspberry p {
  width: 514px;
  margin-top: 0;
  padding-left: 16px;
  margin-bottom: 42px;
}

.raspberry:not(:nth-of-type(2n)) {
  margin-right: 26px;
}

.action h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  padding-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.action .chocolate {
    width: 560px;
    background-image: url(../img/index1/chocolate.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 22px;
    padding-top: 0;
    padding-left: 0;
}

.chocolate p {
  width: 514px;
  margin-top: 0;
  padding-left: 16px;
  margin-bottom: 42px;
}

.action a {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border-radius: 70px;
  padding: 22px;
  padding-top: 15px;
  padding-bottom: 16px;

  margin-left: auto;
}

.about-us {
  margin-top: 40px;
  width: 1146px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 220px;
}

.blog {
  width: 560px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text-2, #323232);
  background-image: url(../img/index1/strawberry.jpg);
  background-repeat: no-repeat;
  margin-right: 26px;
  border-radius: 16px;
}

.blog h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-top: 23px;
  margin: 0;
  margin-left: 20px;
}

.blog ul {
  list-style: none;
  width: 287px;
}

.blog a {
  display: block;
  width: 287px;
  color: var(--basic-text-2, #323232);
  margin-left: 20px;
  margin-top: 15px;
  text-decoration: underline;
}

.subscription {
  width: 560px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-form-background, #F8F7F4);
  background-image: url(../img/index1/letter_border.png);
  background-repeat: no-repeat;
  position: relative;
}

.subscription-text {
  width: 548px;
  min-height: 210px;
  border-radius: 16px;
  background-color: var(--basic-form-background, #F8F7F4);
  position: absolute;
  right: 6px;
  top: 6px;
}

.subscription-text input {
  position: absolute;
  width: 368px;
  height: 44px;
  left: 20px;
  bottom: 35px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 14px;
}

.subscription p {
  width: 512px;
  margin-left: 20px;
  margin-right: 16px;
  margin-top: 29px;
  color: var(--basic-text-3, #5A5A5A);
}

.subscription button {
  width: 130px;
  height: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  position: absolute;
  right: 20px;
  bottom: 35px;
  border: none;
}

.map {
  display: flex;
  width: 1146px;
  min-height: 430px;
  background-image: url(../img/index1/map.png),
    url(../img/index1/pin.png);
  background-repeat: no-repeat;
  color: var(--basic-text-2, #323232);
  margin-bottom: 18px;
  margin-top: 40px;
}

.map svg {
  margin-top: 136px;
  margin-left: 266px;

}

.address {
  margin: 62px;
  margin-right: 27px;
  margin-left: auto;
  width: 303px;
  min-height: 306px;
  background-color: var(--basic-text, #FFFFFF);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-left: 25px;
}

.address p {
  width: 155px;
}

.phone-number {
  width: 172px;
}


.map span {
  display: block;
  width: 225px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text-2, #323232);
} 

.map a {
  display: block;
  width: 137px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text-2, #323232);
}

.map button {
  width: 253px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
  padding: 13px 28px;
  margin-bottom: 31px;
}


.extra-info {
  width: 327px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.extra-info li:nth-of-type(2n) {
  margin-left: 32px;
}

.extra-info li:nth-of-type(n+3) {
  margin-top: 10px;
}

.extra-info .for-providers {
  font-weight: bold;
  position: relative;
}

.for-providers::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 117px;
}

.page-name {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 29px;
}

.path {
  width: 224px;
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: 9px;
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  padding: 0;
}

.price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 50px;
}

.price span {
  font-size: 30px;
  line-height: 35px;
}

.icecream-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.icecream-list-item {
  width: 267px;
  display: block;
  position: relative;
}

.hit {
  position: relative;
}

.hit::before {
  content: "";
  width: 61px;
  height: 61px;
  background-image: url(../img/index1/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
}

.icecream-list-item:not(:nth-of-type(4n)) {
  margin-right: 26px;   
}

.icecream-list-item:nth-of-type(n+5) {
  margin-top: 40px;
}

.icecream-list h3 {
  margin-top: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.contacts a {
  display: block;
  font-size: 22px;
  line-height: 24px;
}

.social-media {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-media-item:not(:last-of-type) {
  margin-right: 12px;
}


.logo {
  width: 190px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.logo a {
  display: block;

} 

.promo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.promo p {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 672px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo-button {
  font-weight: bold;
  font-size: 32px;
  background: var(--basic-active-page);
  border-radius: 70px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  margin-top: 27px;
  padding: 40px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.item {
  display: none;
}

.item-current {
  display: block;
}

.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.slider-control {
  display: flex;
  padding: 0;
  width: 79px;
  justify-content: space-between;
  margin-bottom: 87px;
}

.slider-control:not(:last-of-type) {
  margin-right: 8px;
}

.slider-control button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-control .current {
  background-color: var(--basic-text, #FFFFFF);
}

.filter {
  width: 869px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
}

.filter-item {
  box-sizing: border-box;
  padding: 0;
}

.filter-item:not(:last-of-type) {
  margin-right: 15px;
}

.filter-item select {
  width: 196px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text, #FFFFFF);
  padding: 0;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 13px;
  box-sizing: border-box;
}

.filter ul {
  list-style: none;
}

.filter fieldset {
  border: none;
}

.fat {
  width: 425px;
  display: flex;
  justify-content: space-between;
  background: var(--basic-catalog-menu);
  color: var(--basic-text);
  padding: 7px;
  padding-left: 14px;
  border-radius: 20px;
}

.filler {
  width: 711px;
  display: flex;
  justify-content: space-between;
  background: var(--basic-catalog-menu);
  color: var(--basic-text);
  padding: 8px;
  padding-left: 16px;
  border-radius: 20px;
  box-sizing: border-box;
}

.filler label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filler-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/catalog/checkbox.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filler-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-image: url();
}

.filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text);
  background: var(--basic-catalog-menu);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 29px;
  padding-top: 14px;
  padding-bottom: 9px;
}



.page-number {
  margin-top: 80px;
  width: 1146px;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  list-style: none;
}

.page-number button {
  border: none;
  background: none;
}

.page-number-item {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
}

.page-number li:not(:last-of-type) {
  margin-right: 20px;
}

.chosen-page {
  background-color: var(--basic-text, #FFFFFF);
  color: var(--basic-text-2);
}

.main-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.enter {
  width: 92px;
  height: 32px;
  text-align: center;
  background-color: var(--basic-button-background, rgba(255, 255, 255, 0.2));
  border-radius: 20px;
}


.enter:hover, 
.enter:focus {
  background-color: var(--basic-text, #FFFFFF);
  color: var(--basic-text-2, #323232);
}

.enter:hover path,
.enter:focus path {
  fill: var(--basic-text-2, #323232);
}

.side-menu a:hover, 
.side-menu a:focus {
  background-color: var(--basic-text, #FFFFFF);
  border-radius: 26px;
  color: var(--basic-text-2);
}

.basket {
  text-align: center;
  width: 100px;
  height: 32px;
  background-color: var(--basic-button-background, rgba(255, 255, 255, 0.2));
  border-radius: 20px;
}

.catalog-basket {
  background-color: var(--basic-button-background, rgba(255, 255, 255, 0.2));
  border-radius: 20px;
  text-align: center;
  width: 100px;
  height: 32px;
}

.catalog-basket:hover,
.catalog-basket:focus {
  background-color: var(--basic-text, #FFFFFF);
  border-radius: 26px;
  color: var(--basic-text-2);
}

.basket:hover,
.basket:focus {
  background-color: var(--basic-text, #FFFFFF);
  color: var(--basic-text-2, #323232);
}

.basket:hover path,
.basket:focus path {
  fill: var(--basic-text-2, #323232);
}

.user-menu a:hover, 
.user-menu a:focus {
  background-color: var(--basic-text);
  color: var(--basic-text-2);
}

.search-popup form {
  width: 341px;
  height: 84px;
  background-color: var(--basic-form-background, #F8F7F4);
  border-radius: 4px;
}

.search-popup input {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  width: 311px;
  height: 44px;
  border-radius: 4px;
  margin: 20px 15px;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
}

.login-popup form {
  width: 277px;
  height: 214px;
  background-color: var(--basic-form-background, #F8F7F4);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}

.login-popup input {
  width: 241px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid #D3D3D2;
  padding-left: 15px;
}

.login-popup div {
  margin-left: 19px;
}

.login-popup button {
  width: 103px;
  height: 44px;
  border-radius: 26px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
  margin-left: 19px;
  color: var(--basic-text, #FFFFFF);
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border: none;
}

.login-popup a {
  display: block;
  color: var(--basic-text-2, #323232);
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.feedback-popup form {
  width: 477px;
  height: 441px;
  background-color: var(--basic-form-background, #F8F7F4);
  display: flex;
  position: relative;
}

.feedback-popup fieldset {
    border: none;
    width: 477px;
    height: 441px;
    padding: 0;
}

.feedback-popup legend {
  color: var(--basic-text-2, #323232);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-top: 20px;
  padding-bottom: 26px;
  padding-left: 23px;
}

.feedback-popup input {
  width: 267px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  padding-left: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.feedback-popup textarea {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 428px;
  height: 154px;
  margin-left: 24px;
  padding-left: 12px;
  padding-top: 16px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.submit-button {
  width: 140px;
  height: 44px;
  background: var(--basic-active-page);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 70px;
  color: var(--basic-text);
  position: absolute;
  right: 25px;
  bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.close-tab  {
  border: none;
  background: var(--basic-form-background, #F8F7F4);
  position: absolute;
  right: 16px;
  top: 15px;
}

.basket-popup {
  display: flex;
  flex-direction: column;
  width: 539px;
  padding-right: 14px;
  padding-left: 15px;
  padding-bottom: 21px;
  background-color: var(--basic-form-background, #F8F7F4);
  color: var(--basic-text-2, #323232);
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.basket-popup table {
  width: 539px;
  border-bottom: 1px solid #CACAC7;
}

.basket-popup img {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 10px;
}

.basket-popup tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px
}

.basket-popup span {
  color: var(--special-text, #ABABAB);
}


.basket-popup a {
  display: block;
  margin-top: 15px;
  padding: 15px 13px;
  background: var(--basic-active-page);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  margin-left: auto;
}

.final-sum {
  display: block;
  margin-top: 18px;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-text-2, #323232);
  margin-left: auto;
}

.icecream-name {
  width: 216px;
}

.icecream-cost {
  width: 95px;
}

.icecream-final-cost {
  width: 50px;
}

.close-basket {
  border: none;
  background: none;
}

.new-icecream-popup {
  width: 143px;
  min-height: 171px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--basic-text, #FFFFFF);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}


.new-icecream-popup a {
  display: block;
  padding-left: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-text-2, #323232);
  width: 143px;
  min-height: 27px;
}

.new-icecream-popup li {
  margin-top: 12px;
}

.new-icecream-popup span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 15px;
}

.separator {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  margin-left: 6px;
  margin-right: 9px;

}

/*.wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper-1 {
  background-color: var(--basic-background-1, #849D8F);
  background-image: url(../img/index1/icecreams.png);
}

.wrapper-2 {
  background-color: var(--basic-background-2, #8996A6);
  background-image: url(../img/index2/group-2.png);
}

.wrapper-3 {
  background-color: var(--basic-background-3, #9D8B84);
  background-image: url(../img/index3/group-3.png);
}*/
